body{
    background-color: lightgray;
    width: 70%;
    margin: auto;
    text-align: center;
}

.borderStyle1{
    border-style: dotted;
    border-width: thick;
    /* border-width: 2px; */
    padding: 25px;
}

.borderStyle2{
    border-style: dashed;
    padding: 25px;
}

.borderStyle3{
    border-style: solid; 
    border-width: medium;
    /* border-width: 5px; */
    border-radius: 20px;
    padding: 25px;
}

.borderStyle4{
    border-style: double;
    border-radius: 20px;
    padding: 25px;
}

.borderStyle5{
    border-style: groove;
    padding: 25px;
    border-color: blue;
}


.borderStyle6{
    border-style: ridge;
    padding: 25px;
    border-color: rgb(17, 195, 47);
}

.borderStyle7{
    border-style: inset;
    padding: 25px;
    border-color: rgb(241, 12, 80);
}

.borderStyle8{
    border-style: outset;
    padding: 25px;
}

.borderStyle9{
    border-style: none;
    padding: 25px;
}

.borderStyle10{
    border-style: hidden;
    padding: 25px;
}

.borderStyle11{
    border-style: dotted dashed solid double;
    padding: 25px;
}