body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 252, 250);
    border: 5px solid #d3d2d2;
} 

header{
    text-align: center;
    background-color: lightsalmon;
    padding: 10px;
    margin: 10px;
}

aside{
    background-color: lightpink;
    margin: 10px;
}

main{
    background-color: lightcoral;
    margin: 10px;
}

footer{
    background-color: lightseagreen;
    text-align: center;
    margin: 10px;
}

ul{
    list-style-type: none;
}


#middle{
    display: flex;
}