body{
    background-color: rgb(1, 72, 1);
}

.flex-container{
    height: 100vh;
    width: 100vw;
    display: flex; /* this will set the items side by side automatically */
    /*flex-direction: column; */  /* this will set the items one by one column wise/ */
    flex-direction: row; /* this will set the items one by one row wise/ */
    /* flex-direction: column-reverse; */  /* this will set the items one by one column wise reverse/ */
    /* flex-direction: row-reverse; */  /* this will set the items one by one column wise reverse/ */
    flex-wrap: wrap;  /* this will wrap the items and fill the space according to the size of the items*/
    /* flex-wrap: row wrap; */  /* this will wrap the items row wise*/
    /* justify-content: center; */ /* this will center the items in x axis */
    /* align-items: center; */ /* this will bring items to the center of the page y axis */
    /* align-items: flex-start; */ /* puts the items in the starting of the page */
    /* align-items: flex-end; */ /* puts the items in the ending of the page */
    /* align-items: stretch; */ /* streches the items*/ 
    /* flex-wrap: wrap; */ /*this wil wrap all the items in the page*/
    /* align-content: space-between; */ /* aligns space between the items */
}
      


.flex-container > div{
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 15px;
    background-color:  rgb(7, 133, 7);
    color: white;
    font-size: large;
    border: 25px solid rgb(117, 226, 7);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Responsive flexbox */

@media(max-width: 800px) {
    .flex-container{
        flex-direction: column;
    }    
}
