.main-container{
    display: flex;
    flex-wrap: wrap;
}

.image{
    margin: 10px;
    height: 200px;
    width: 300px;
}

.gallery {
    opacity: 0.5; 
    transition: transform 1s ease;
}

.desc {
    padding: 15px;
    text-align: center;
  }

.gallery:hover{
    opacity: 1.0;
    transform: scale(1.1);
}