/* CSS 
CASCADING STYLE SHEET
CSS is used to style a page that we created using html.
files are created with .css
*/


/* 
selector{
property: value; --> declaration
}
*/

/* universal selector - selects each and every element of the page */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: lightgray; /* this will set a background color to the whole page*/
    padding: 10px; /* creates space around the elements*/
    text-align: center; /*aligns the text to the center of the page*/
}

h1{
    background-color: rgb(140, 140, 140);
    padding: 5px;
}

p{
    background-color: rgb(141, 141, 141);
    padding: 5px;
}

/* We can also group the selectors if we are having any common styling for the elements
ex: 
h1, p{
    text-align: right;
}
*/

/* We can also style the page using selectors like  class - ".selectors" and id - "#selectors" and universal selector - "*" */